.git
.github
.venv
.env
.mypy_cache
.ruff_cache
.pytest_cache
__pycache__
*.py[cod]
*.egg-info
dist
build
htmlcov
.coverage
.docker
.vscode
.idea
.DS_Store
Thumbs.db
docs
tests
*.md
!README.md
LICENSE
Makefile
.pre-commit-config.yaml
.gitignore
